<!-- Views is the default directory that express uses for temlplates -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <ol>
      <li>learning</li>
      <li>to use</li>
      <li>handlebars</li>
    </ol>
    {{> footer}}
  </body>
</html>
