<!-- Views is the default directory that express uses for temlplates -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maint.</title>
  </head>
  <body>
    <h1>Sorry, site under maintenance</h1>
  </body>
</html>
